{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <h3>{{ user.username }}</h3>
            <p>ID: {{ user.id }}</p>
            <p>Age: {{ user.age }}</p>
        </article>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                            <li class="list-group-item">
                                <a href="/users/{{ user.id }}"> {{ user.username }} ({{ user.age }} лет) </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
